[Unit]
Description=kcal application server
After=network.target

[Service]
Type=simple
User=daniel
ExecStart=/bin/bash /home/daniel/bin/install-and-start-kcal.sh

[Install]
WantedBy=multi-user.target
