<!doctype html>
<html lang="en">

<head>
    <title>kcal</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="manifest.json" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Daniel Nagel" />
    <link href="/index.css" rel="stylesheet">
    <script type="text/javascript" src="/utils.js"></script>
    <script>
        bootstrapApp();
    </script>
</head>

<body>
    <header>
        <h1>+k</h1>
        <ul>
            <li><a class="active" href="/">home</a></li>
            <li><a href="/input_kcal">+k</a></li>
            <li><a href="/summary_kcal">ls k</a></li>
            <li><a href="/input_weight">+w</a></li>
            <li><a href="/summary_weight">ls w</a></li>
        </ul>
    </header>
    <main>
        <div class="daily-info">
            <p id="today-last-meal">last meal: 00:00 (00:00 ago)</p>
            <p id="today-calories">today calories: 0 kcal</p>
            <div class="progress-container">
                <div class="progress-bar" id="progress-bar"></div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="/index.js"></script>
</body>

</html>