<!doctype html>
<html lang="en">

<head>
    <title>kcal</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Daniel Nagel" />
    <link href="/index.css" rel="stylesheet">
</head>

<body>
    <header>
        <h1>kcal</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/input">input</a></li>
            <li><a href="/summary">summary</a></li>
        </ul>
    </header>
    <main class="content">
        <p>index</p>
    </main>
</body>

</html>