<!doctype html>
<html lang="en">

<head>
    <title>kcal - weight input</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="manifest.json" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Daniel Nagel" />
    <link href="/index.css" rel="stylesheet">
    <script type="text/javascript" src="/utils.js"></script>
    <script>
        bootstrapApp();
    </script>
</head>

<body>
    <header>
        <h1>+k</h1>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/input_kcal">+k</a></li>
            <li><a href="/summary_kcal">ls k</a></li>
            <li><a class="active" href="/input_weight">+w</a></li>
            <li><a href="/summary_weight">ls w</a></li>
        </ul>
    </header>
    <main>
        <form action="/api/input_weight" method="post" class="input-form">
            <label for="date">date</label>
            <input class="form-input" type="date" name="date" id="date" required />
            <label for="weight">weight</label>
            <input class="form-input" type="number" name="weight" id="weight" step="0.1" required />
            <label for="waist">waist</label>
            <input class="form-input" type="number" name="waist" id="waist" step="0.1" required />
            <input class="form-submit" type="submit" value="Submit" />
        </form>
    </main>
    <script type="text/javascript" src="/input_weight.js"></script>
</body>

</html>