<!doctype html>
<html lang="en">

<head>
    <title>kcal - input</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Daniel Nagel" />
    <link href="/index.css" rel="stylesheet">
</head>

<body>
    <header>
        <h1>kcal</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/input">input</a></li>
            <li><a href="/summary">summary</a></li>
        </ul>
    </header>
    <main class="content">
        <form action="" method="post" class="kcal-input-form">
            <div class="kcal-input-form">
                <label for="time">Time:</label>
                <input class="form-input" type="datetime-local" name="time" id="time" required />
            </div>
            <div class="kcal-input-form">
                <label for="what">What: </label>
                <textarea class="form-input" name="what" id="what" required ></textarea>
            </div>
            <div class="kcal-input-form">
                <label for="kcal">Kcal:</label>
                <input class="form-input" type="number" name="kcal" id="kcal" required />
            </div>
            <div class="kcal-input-form">
                <label for="comment">comment: </label>
                <textarea class="form-input" name="comment" id="comment" ></textarea>
            </div>
            <div class="kcal-input-form">
                <div></div>
                <input class="form-submit" type="submit" value="Submit" />
            </div>
        </form>
    </main>
    <script type="text/javascript" src="/input.js" ></script>
</body>

</html>