<!doctype html>
<html lang="en">

<head>
    <title>kcal - input</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Daniel Nagel" />
    <link href="/index.css" rel="stylesheet">
</head>

<body>
    <div class="input-content">
        <header>
            <h1>kcal</h1>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/input">input</a></li>
                <li><a href="/summary">summary</a></li>
            </ul>
        </header>
        <main>
            <form action="" method="post" class="kcal-input-form">
                <label for="time">time</label>
                <input class="form-input" type="datetime-local" name="time" id="time" required />
                <label for="what">what</label>
                <textarea class="form-input" name="what" id="what" required></textarea>
                <label for="kcal">calories</label>
                <input class="form-input" type="number" name="kcal" id="kcal" required />
                <label for="comment">comment</label>
                <textarea class="form-input" name="comment" id="comment"></textarea>
                <input class="form-submit" type="submit" value="Submit" />
            </form>
        </main>
    </div>
    <script type="text/javascript" src="/input.js"></script>
</body>

</html>