<!doctype html>
<html lang="en">

<head>
    <title>kcal - input</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Daniel Nagel" />
    <link href="/index.css" rel="stylesheet">
    <script>
        if (navigator.serviceWorker) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/serviceworker.js');
            })
        }   
    </script>
    <script type="text/javascript" src="/utils.js"></script>
</head>

<body>
    <header>
        <h1>+k</h1>
        <ul>
            <li><a href="/">home</a></li>
            <li><a class="active" href="/input_kcal">+k</a></li>
            <li><a href="/summary_kcal">ls k</a></li>
            <li><a href="/input_weight">+w</a></li>
            <li><a href="/summary_weight">ls w</a></li>
        </ul>
    </header>
    <main>
        <form action="/api/input_kcal" method="post" class="input-form">
            <label for="date">date</label>
            <input class="form-input" type="datetime-local" name="date" id="date" required />
            <label for="what">what</label>
            <input class="form-input" type="text" name="what" id="what" required list="suggestion-list"></input>
            <datalist id="suggestion-list"></datalist>
            <label for="kcal">calories</label>
            <input class="form-input" type="number" name="kcal" id="kcal" required />
            <label for="comment">comment</label>
            <textarea class="form-input" name="comment" id="comment"></textarea>
            <input class="form-submit" type="submit" value="Submit" />
        </form>
    </main>
    <script type="text/javascript" src="/input_kcal.js"></script>
</body>

</html>