<!doctype html>
<html lang="en">

<head>
    <title>kcal - input</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="manifest.json" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Daniel Nagel" />
    <link href="/index.css" rel="stylesheet">
    <script type="module" src="/input_kcal.js"></script>
</head>

<body>
    <header>
        <h1>+k</h1>
        <ul>
            <li><a href="/">home</a></li>
            <li><a class="active" href="/input_kcal">+k</a></li>
            <li><a href="/summary_kcal">ls k</a></li>
            <li><a href="/input_weight">+w</a></li>
            <li><a href="/summary_weight">ls w</a></li>
            <li><a href="/configuration">conf</a></li>
        </ul>
    </header>
    <main>
        <form class="input-form" id="kcal-form">
            <label for="date">date</label>
            <input class="form-input" type="datetime-local" name="date" id="date" required />
            <label for="what">what</label>
            <input class="form-input" type="text" name="what" id="what" required list="suggestion-list"></input>
            <datalist id="suggestion-list"></datalist>
            <label for="kcal">calories</label>
            <input class="form-input" type="number" name="kcal" id="kcal" required />
            <label for="comment">comment</label>
            <textarea class="form-textarea" name="comment" id="comment" rows="3"></textarea>
            <input class="form-submit" type="submit" value="Submit" />
        </form>
        <div id="offline-container" class="offline-container hide">
            <p id="offline-message">Data could not be send.</p>
            <button id="offline-copy-button">Copy stored data</button>
            <button id="offline-resend-button">Resend stored data</button>
        </div>
    </main>
    <dialog id="user-prompt-modal">
        <p>Username</p>
        <form method="dialog" id="user-prompt-form">
            <input type="text" name="username" placeholder="What is your username?" />
            <button type="submit">Save</button>
        </form>
    </dialog>
</body>

</html>