<!doctype html>
<html lang="en">

<head>
    <title>kcal</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Daniel Nagel" />
    <link href="index.css" rel="stylesheet">
    <link href="tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="tabulator.min.js"></script>
    <script>
        if (navigator.serviceWorker) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/serviceworker.js');
            })
        }   
    </script>
    <script type="text/javascript" src="/utils.js"></script>
</head>

<body>
    <header>
        <h1>+k</h1>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/input_kcal">+k</a></li>
            <li><a class="active" href="/summary_kcal">ls k</a></li>
            <li><a href="/input_weight">+w</a></li>
            <li><a href="/summary_weight">ls w</a></li>
        </ul>
    </header>
    <main class="summary-content">
        <div class="summary-table" id="example-table"></div>
        <button id="print-table">Print Table</button>
    </main>
    <script type="text/javascript" src="/summary_kcal.js" ></script>
</body>

</html>