<!doctype html>
<html lang="en">

<head>
    <title>kcal</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Daniel Nagel" />
    <link href="index.css" rel="stylesheet">
    <script type="text/javascript" src="/chart.umd.js"></script>
</head>

<body>
    <header>
        <h1>kcal</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/input_kcal">input calories</a></li>
            <li><a href="/summary_kcal">summary calories</a></li>
            <li><a href="/input_weight">input weight</a></li>
            <li><a href="/summary_weight">summary weight</a></li>
        </ul>
    </header>
    <main class="summary-content">
        <div class="summary-weight">
            <canvas id="summary-weight"></canvas>
        </div>
    </main>
    <script type="text/javascript" src="/summary_weight.js" ></script>
</body>

</html>