<!doctype html>
<html lang="en">

<head>
    <title>kcal</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="manifest.json" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Daniel Nagel" />
    <link href="index.css" rel="stylesheet">
    <script type="module" src="/summary_weight.js" ></script>
</head>

<body>
    <header>
        <h1>+k</h1>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/input_kcal">+k</a></li>
            <li><a href="/summary_kcal">ls k</a></li>
            <li><a href="/input_weight">+w</a></li>
            <li><a class="active" href="/summary_weight">ls w</a></li>
            <li><a href="/configuration">conf</a></li>
        </ul>
    </header>
    <main class="summary-content" id="summary-weight-container">
        <div class="summary-weight">
            <canvas id="summary-weight"></canvas>
        </div>
    </main>
</body>

</html>